@tailwind base;
@tailwind components;
@tailwind utilities;

/* Centering the text and button */
.relative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* styles.css */
.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

  
  /* Remove shake styles if they were added before
  // .shake-on-scroll {
  //   animation: none;
  // }
  
  // .shake-on-scroll.shake {
  //   animation: shake 0.5s linear;
  // }
   */