@tailwind base;
@tailwind components;
@tailwind utilities;

/* Centering the text and button */
.relative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 /* styles.css */
[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #f0f0f0;
  --button-text: #000000;
  --button-inactive: #ffffff;
  --card-background: #ffffff;
  --card-border: #cccccc;
}

[data-theme="dark"] {
  --background-color: #252525;
  --text-color: #ffffff;
  --button-background: #444444;
  --button-text: #ffffff;
  --button-inactive: #ffffff;
  --card-background: #333333;
  --card-border: #444444;
  --card-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--card-border);
}

button:disabled {
  background-color: var(--button-inactive);
  color: var(--text-color);
}

.card {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  padding: 16px;
  border-radius: 8px;
}
